body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
.back-link {
  text-decoration: none;
  color: black;
}
.back-link:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.42);
}
.link-container {
  margin-top: 20px;
}
.card {
  -webkit-box-shadow: 7px 7px 0px 1px rgba(0, 0, 0, 0.42);
  box-shadow: 7px 7px 0px 1px rgba(0, 0, 0, 0.42);
  border-radius: 2px;
  font-size: medium;
}
.container {
  width: 300px;
  display: grid;
  padding: 10px;
  align-items: center;
}
.heading-container {
  margin: 0 20px 0 20px;
  padding: 10px;
  align-items: flex-start;
  justify-content: center;
}
.label-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
.tag-wrapper {
  display: flex;
  flex-direction: row;
}
.tag-wrapper:hover {
  color: #248e6b;
}
.new-label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 12px 0 12px 0;
  word-break: break-all;
  cursor: pointer;
}
.success {
  text-align: center;
  font-size: medium;
  line-height: 28px;
  font-size: medium;
  font-weight: bolder;
}
.move-btn {
  margin-bottom: 0;
  margin-top: 40px;
}
.highlight {
  color: #248e6b;
}

@media (min-width: 767px) {
  .card {
    font-size: large;
  }
  .symbols-counter {
    font-size: medium;
  }
  .container,
  .heading-container {
    width: 550px;
    padding: 30px;
  }
  .new-label {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0 16px 0;
  }
  .success {
    font-size: large;
  }
}
